# Environnements virtuels
venv/
env/
.venv/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Variables d'environnement
.env
.env.local

# Streamlit
.streamlit/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo